DATABASE_URL="mysql://username:password@localhost:3306/fits"
PORT=8080
ACCESS_KEY="access_key"
NODE_ENV="development"
JWT_SECRET="jwt_secret_key"

APP_URL = "http://localhost:5173"
SERVER_PUBLIC_URL = "http://localhost:8080"
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = 587
SMTP_USER = "gmail_user"
SMTP_PASS = "smtp_password"