@import "tailwindcss";



.gradient-bg {
  background: linear-gradient(to bottom, #2563eb, #60a5fa);
}

.element {
  background-color: #2563eb; /* Blue-600 */
  transition: background-color 0.2s;
}

.element:hover {
  background-color: #1e40af; /* Blue-800 */
}

.text{
  color: white;
}

.family{
  font-family: Poppins, sans-serif;
}

.typing-animation {
  border-right: 2px solid #fff;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 2s steps(30, end) forwards, blink-caret 0.7s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent; }
  50% { border-color: #fff; }
}